body{
	font-family: Arial;
}

* {margin: 0; padding: 0; outline: 0;}

@font-face {
  font-family: 'font-awesome';
  src: url("font-awesome/font/fontawesome-webfont.eot");
  src: url("font-awesome/font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("font-awesome/font/fontawesome-webfont.woff") format("woff"), url("font-awesome/font/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon { 
	font-family: 'font-awesome';-webkit-font-smoothing:antialiased; 
	/* color:#a0daff; */
}

.roboto{
	font-family: 'Roboto Slab';-webkit-font-smoothing:antialiased;
}

.container{
	width:1000px;
	margin:auto;
	border:1px solid #ccc;
}

.inner {
	margin:5px;
}

