<div class="navbar navbar-default">
	<div class="inner">
		<div class="navbar-header ext" style="text-align:left">
			<div style="float:left;font-size:10px">
				Angulex doesn't have any copyrights, except the ones belong to angularjs and silex.<br>
				You may use it as you wish
			</div>
		</div>
	</div>
</div>