<!doctype html>
<html lang="en" ng-app="Angulex">
<head>
<title>{{judul}}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{konektor}}assets/img/favicon.ico">

{% block css %}
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700'>
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab'>
<link rel="stylesheet" type="text/css" href="{{konektor}}css/style.css">
<link rel="stylesheet" type="text/css" href="{{konektor}}js/bootstrap/dist/css/bootstrap.min.css">
{% endblock %}

{% block js %}
<script src="{{konektor}}js/jquery/jquery.js"></script>
<script src="{{konektor}}js/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{konektor}}js/angular/angular.js" type="text/javascript"></script>
<script src="{{konektor}}js/angular-route/angular-route.js" type="text/javascript"></script>
<script src="{{konektor}}js/app.js"></script>
<script src="{{konektor}}js/controllers.js"></script>
{% endblock %}

</head>

<body>
	<div class="container">
		<span class="roboto" style="font-size:50px">Angulex</span>&nbsp;
		<span class="roboto" style="font-size:20px">Angular-Silex Fusion for Web Application</span>
		<br>
		<div class="roboto" style="font-size:12px">Opreker: Khalid</div>
		<hr>
		<div class="navbar navbar-default">
		  <div class="navbar-collapse collapse navbar-responsive-collapse">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#/">Beranda</a></li>
		      <li><a href="#/laman/dokumentasi">Dokumentasi</a></li>
		      <li><a href="#/laman/tentang">Tentang</a></li>
		    </ul>
		  </div>
		</div>

   		<div ng-view style="min-height:400px"></div>
   		
   		{% include 'footer.twig' %}
	</div>
</body>
</html>